<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_Loyalty>
            <version>1.0.0</version>
        </Edge_Loyalty>
    </modules>
    <global>
        <helpers>
            <loyalty>
                <class>Edge_Loyalty_Helper</class>
            </loyalty>
        </helpers>
        <models>
            <loyalty>
                <class>Edge_Loyalty_Model</class>
            </loyalty>
        </models>
    </global>
    <frontend>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <loyalty_product_get_final_price>
                        <class>loyalty/price_observer</class>
                        <method>getFinalPrice</method>
                    </loyalty_product_get_final_price>
                </observers>
            </catalog_product_get_final_price>
            <catalog_product_load_after>
                <observers>
                    <loyalty_product_load_after>
                        <class>loyalty/price_observer</class>
                        <method>catalogProductLoadAfter</method>
                    </loyalty_product_load_after>
                </observers>
            </catalog_product_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <loyalty_product_collection_load_after>
                        <class>loyalty/price_observer</class>
                        <method>catalogProductCollectionLoadAfter</method>
                    </loyalty_product_collection_load_after>
                </observers>
            </catalog_product_collection_load_after>
        </events>
    </frontend>
</config>